<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testopensourceapplication.tingproject">

    <!-- F4:F7:B0:DD:65:26:CB:2A:7B:45:A0:74:8C:6C:62:8C:D4:5E:52:9C -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="app_key"
            android:value="5220210bd23ea941d265e9b3d3002108" />
        <meta-data
            android:name="pack_id"
            android:value="com.testopensourceapplication.tingproject" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".PlayerControlReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.infisight.ting.ACTION_CONTROL_PLAY_PAUSE" />
                <action android:name="com.infisight.ting.ACTION_CONTROL_PLAY_NEXT" />
                <action android:name="com.infisight.ting.ACTION_CONTROL_PLAY_PRE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:process=":player"></service>



        <activity android:name=".PlayActivity"
            android:screenOrientation="landscape"
            ></activity>

        <receiver android:name="com.ximalaya.ting.android.opensdk.player.receive.WireControlReceiver"
            android:exported="true"></receiver>
    </application>

</manifest>
